.idea/*
.idea/

data/networks/*
data/networks/
data/versions/*
data/versions/
data/*.gz
data/*.list
scripts/plotting/data/*

results/*

*.png
*.jpg

__pycache__/*

.ipynb_checkpoints/*
.ipynb_checkpoints/
.vscode/*
.vscode/
.mypy_cache/*
.mypy_cache/

*.DS_Store

build/
dist/
pyPPI.egg-info/
pyppi.egg-info/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
