.idea/*
*.csv
.vscode/*
*.tab
*.list
*.dat
*.obo
*.txt
*.mitab
*.pyc
*.sif
*.pkl
*tsv
*.dict
*.json
*.eda
*.noa
__pycache__/*
.ipynb_checkpoints/*
.idea/
.vscode/
.ipynb_checkpoints/
*.gz
*.DS_Store
pyPPI/__pycache__/
pyPPI/base/__pycache__/
pyPPI/data/__pycache__/
pyPPI/data_mining/__pycache__/
pyPPI/model_selection/__pycache__/
pyPPI/models/__pycache__/
pyPPI/network_analysis/__pycache__/
build/
data/
dist/
pyPPI.egg-info/