.idea/*
*.csv
*.tab
*.list
*.dat
*.obo
*.txt
*.mitab
*.sif
*.pkl
*tsv
*.dict
*.json
*.eda
*.noa
.idea/
*.gz
pyPPI/__pycache__/
pyPPI/base/__pycache__/
pyPPI/data/__pycache__/
pyPPI/data_mining/__pycache__/
pyPPI/model_selection/__pycache__/
pyPPI/models/__pycache__/
pyPPI/network_analysis/__pycache__/
build/
dist/
pyPPI.egg-info/