[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
v = {editable = true,version = "*"}
mypy = "*"
pylint = "*"
pytest = "*"
black = "*"
rope = "*"

[packages]
flask = "*"
peewee = "*"
requests = "*"
scikit-multilearn = "*"
numpy = "*"
pandas = "*"
scikit-learn = "*"
matplotlib = "*"
goatools = "*"
pronto = "*"
tqdm = "*"
beautifulsoup4 = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
