[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
v = {editable = true,version = "*"}
ipython = "*"
mypy = "*"
pylint = "*"
black = "*"
rope = "*"
mock = "*"
pytest-sugar = "*"
pytest-cov = "*"
pytest = "==5.0.1"

[packages]
flask = "*"
peewee = "*"
requests = "*"
scikit-multilearn = "*"
numpy = "*"
pandas = "*"
scikit-learn = "*"
matplotlib = "*"
goatools = "*"
tqdm = "*"
beautifulsoup4 = "*"
lxml = "*"
idutils = "*"
jupyter = "*"
metapub = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
